<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
</head>
<body>
<h2>Winning Bidder</h2>
<!-- Dynamic Fields -->
<p>FirstName: <span th:text="${winner.FirstName}"></span></p>
<p>LastName: <span th:text="${winner.LastName}"></span></p>
<p>Country: <span th:text="${winner.Country}"></span></p>
<p>City: <span th:text="${winner.City}"></span></p>
<p>Street: <span th:text="${winner.StreetName}"></span></p>
<p>Street Number: <span th:text="${winner.StreetNumber}"></span></p>
<p>Postal Code: <span th:text="${winner.PostalCode}"></span></p>

<h2>Item Won</h2>
<!-- Dynamic Fields -->
<p>Item Name: <span th:text="${itemwon.ItemName}"></span></p>
<!-- <p>Item Id: <span th:text="${itemwon.ItemId}"></span></p> -->
<p>Total Cost: <span th:text="${itemwon.TotalCost}"></span></p>

<!-- <div id="dynamicFields" th:each="dynamicField : ${dynamicFields}">
     <label th:for="${dynamicField.name}" th:text="${dynamicField.label}"></label>
     <input th:type="${dynamicField.type}" th:id="${dynamicField.name}" th:name="${dynamicField.name}" required><br>
 </div> -->

<h1>Enter Card Information</h1>

<form id="paymentForm" th:action="@{/submitPayment}" method="post">
    <!-- Common Fields -->
    <label for="cardNumber">Card Number:</label>
    <input type="text" id="cardNumber" name="cardNumber" required><br>

    <label for="cardFirstName">First Name:</label>
    <input type="text" id="cardFirstName" name="cardFirstName" required><br>

    <label for="cardLastName">Last Name:</label>
    <input type="text" id="cardLastName" name="cardLastName" required><br>

    <label for="cardExpireDate">Expiration Date:</label>
    <input type="text" id="cardExpireDate" name="cardExpireDate" required><br>

    <label for="securityCode">Security Code:</label>
    <input type="text" id="securityCode" name="securityCode" required><br>



    <input type="submit" value="Submit">
</form>

<script th:inline="javascript">
    /* <![CDATA[ */
    var dynamicFields = /*[[${dynamicFields}]]*/ [];
    /* ]]> */
</script>

</body>
</html>
